body{
    text-align: center;
    width: 400px;
    height: 500px;
    font-size: 15px;
    line-height: 1.42;
    margin-left: 535px;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
.signup{
    background-color: white;
    border-radius: 10px;
    border: 0.5px solid rgb(206, 200, 200);
    width: 450px;
    height: 510px;

}
.signup>img{
    margin-top: 30px;
}
.signup>.dangnhap{
    font-size:x-large;
    line-height: 0px;
}

.box input{
    margin-top: 30px;
    margin-left: 45px;
    display: flex;
    border: none;
    outline: none;
    border: 1px solid gray;
    width: 80%;
    height: 50px;
    border-radius: 5px;
    padding-left: 15px;
}
.box11{
    position: relative;
    top:55;
    right: 7;
}

.signup> .box1{
     margin-left: -200px; 
     line-height: 10px;
}
.signup>.text-dk{
    text-decoration: none;
    color: rgb(15, 118, 236);
    margin-top: -31px;
    margin-left: 70px;
    display: block;
}
.box2{
    width: 60%;
    height: 50px;
    border: 0.5px solid rgb(206, 200, 200);
    background-color: rgb(241, 149, 234);
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 90px;
}
.box3{
    width: 60%;
    height: 50px;
    border: 0.5px solid rgb(206, 200, 200);
    background-color: rgb(149, 204, 236);
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 90px;
}
.box3 >a{
    text-decoration: none;
    /* font-variant: small-caps; */
    line-height: 50px;
}
.box2 >a{
    text-decoration: none;
    /* font-variant: small-caps; */
    line-height: 50px;
}
.box2>a:hover{
    color: white;
    cursor: pointer;
}
.box3>a:hover{
    color: white;
    cursor: pointer;
}
/*CSS dang ki*/

    .box5 input{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-left: 45px;
        display: flex;
        border: none;
        outline: none;
        border: 1px solid gray;
        width: 80%;
        height: 45px;
        border-radius: 5px;
        padding-left: 15px;

    }

    .box7{
        width: auto;
        height: 20px;
    }
    .box6{
        width: 80%;
        height: 45px;
        border-radius: 5px;
        padding-left: 10px ;
    }


    .box9{
        width: 40px;
        height: 40px;
        margin-top: 20px;
        margin-left: 31px;
        font-size: x-large;
    }

